<%= form_for [@topic, Comment.new] do |f| %>
<div class="rect">
	
	<div class= "inner bottomborder">
		<h4>
		Leave a comment
		<%= f.submit "Post", class: "btn btn-post-topic" %>
		</h4>
		<div class="separator7"></div>
	</div>
	<div class="inner">
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.text_area :content, class: "input-comment-content"%>
	</div>
</div>
<% end %>