<%= link_to gravatar_for(topic.user), topic.user %>
<p class="title"><%= topic.title %></p>
<p class="timestamp">
   <%= "#{topic.user.name} posted #{time_ago_in_words(topic.created_at)} ago" %>
</p>
<hr />