<%= link_to gravatar_for(topic.user), topic.user %>
<div class="topic">
	<p class="title"><%= link_to topic.title, topic %></p>

	<p class="timestamp">
		<% comment_count =  %>
	  <span class="summary link"><%= link_to topic.user.name, topic.user %></span> <%= "posted #{time_ago_in_words(topic.created_at)} ago. #{pluralize(topic.comments_count, "comment")}. " %>
	</p>
</div>
<hr />