<div class="cell bottomborder topiccell">
	<table>
		<tbody>
			<tr>
				<td>
					<div class="gravatar">
						 <%= link_to gravatar_for(topic.user), topic.user %>
					</div>
				</td>
				<td>
					<div class="topic-title"><%= link_to topic.title, topic %></div>
					<div class="separator7"></div>
					<div class="topic-info">
					  <span class="grayfont link">
							<%= link_to topic.user.username, topic.user %>
						</span>
						<%= "posted #{time_ago_in_words(topic.created_at)} ago. #{pluralize(topic.comments_count, "comment")}. " %>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
