<div class="rect">
	<% if @topics.any? %>
		<div class="topic-header">
			<h3>Recent Topics
				<%= link_to "New Topic", new_topic_path, class: "btn btn-new-topic" %>
			</h3>
			<hr />
		</div>
	
	  <ol class="topics">
	    <%= render partial: 'topic', collection: @topics %>
	  </ol>
	  <%= will_paginate @topics %>
	<% end %>	
</div>
