<div class="rect">
	<div class="inner bottomborder">
		<h3>Recent Topics
			<%= link_to "New Topic", new_topic_path, class: "btn btn-new-topic" %>
		</h3>
	</div>
	<div class="h-inner">
		<% if @topics.any? %>
			<%= render partial: 'topic', collection: @topics %>
			<%= will_paginate @topics %>
		<% end %>			
	</div>
</div>
