<% provide :title, "New Post" %>

<div class="rect">
	<%= render 'topic_form', locals: { info_title: "New Topic", action_btn_title: "Post Topic" } %>
	<hr />
	<div class="grayfont link">
		<p><strong>Tips:</strong></p>
		<ul>
			<li>content can be empty.</li>
			<li>support <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank" title="Markdown Syntax Documentation">markdown syntax.</a></li>
		</ul>
	</div>
</div>