<%= provide :title, "Account" %>

<div class="rect">
	<h3>Edit Account</h3>
	<hr />
	<div class="span-signup">
		<%= render partial: "user_form", locals: { submit_button_title: "Save account changes" } %>
	</div>
</div>

