<%= provide :title, "Account" %>


<div class="row-fluid">
	<legend>Update account</legend>
	<div class="span-signup">
		<%= render partial: "user_form", locals: { submit_button_title: "Save account changes" } %>
	</div>
</div>

