<%= provide :title, 'Sign up' %>

<div class="row-fluid">
	<legend>Join CXC</legend>
	<div class="span-signup">
		<%= render partial: "usersform", locals: { submit_button_title: "Create my CXC account" } %>
	</div>
</div>


