<%= provide :title, 'Sign up' %>
<div class="rect">
	<h3>Join Coder x Coder</h3>
	<hr />
	<div class="span-signup">
		<%= render partial: "user_form", locals: { submit_button_title: "Create my CXC account" } %>
	</div>
</div>

