@import "bootstrap";

$grayFont: #666;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
	background:#eee image-url('bg.jpeg');
}

.hero-unit {
  background-color: #fff;
  border: 0px solid #ddd;
}

.rect {
	@extend .row;
	margin-left:0px;
	margin-bottom:20px;
  min-height: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
.input-signup {
	width: 320px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-header {
  float: left;
  margin-right: 10px;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* forms */
.span-signup {
	width:330px;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
	display: inline;
}

/* profile */

.profile-header {
	padding-top: 5px;
}

.profile-header img {
	margin-top: -5px;
}

.profile-header a {
	float:right;
	margin-top: 5px;
}

.profile-list dl{
	margin:0px;
	font-size: 12px;
}

.profile-list dl dt { 
	margin:0;
	float:left;
	width:150px;
	color:$grayFont;
}

.profile-list dl dd {
	margin:0;
}

.bio {
	color:$grayFont;
}
